@charset "utf-8";
body {
    background-image: url(images/950x534-blue-abstract-noise-free-website-background-image.jpg);
    background-repeat: no-repeat;
    background-size: 100% 75%;
    background-position: 50% 100%;
}
